* {
  box-sizing: border-box;
}

:root {
  --DarkGray: #272729;
  --AlmostWhite: #fcfcfc;
  --DarkGrayIntro: #adadad;
  --Primary: #213343;
  --PrimaryHover: #425466;
  --Orange: #ff6404;
  --OrangeHover: #ff8031;
  --Blue: #0095f4;
  --DarkerBlue: #145ec0;
  --DarkerBlueHover: #1669d7;
  --ShadowLight: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.2));
  --ShadowHard: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.7;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: var(--AlmostWhite);
  color: var(--Primary);
}

/* Enterprise Landing */
#hero>div>img {
  width: 100%;
  min-width: 400px;
}

#hero .enterprise p {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -0.08px;
  line-height: 1.57142857;
  margin: 14px 0;
}

#hero .enterprise h1 {
  font-size: 48px;
  font-weight: 500;
  margin: 0;
  line-height: 1.13;
  letter-spacing: -0.08px;
}

#hero .enterprise h2 {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.75;
}

.cta_container {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 36px;
}

.cta_container .main_cta {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: var(--DarkerBlue);
  cursor: pointer;
  transition: background-color 0.25s ease;
  color: white;
  text-decoration: none;
}

.cta_container .sub_cta {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: white;
  border: 2px solid var(--DarkerBlue);
  cursor: pointer;
  transition: background-color 0.25s ease;
  color: var(--Primary);
  text-decoration: none;
}

.cta_container .main_cta:hover {
  background-color: var(--DarkerBlueHover);
}

.cta_container .sub_cta:hover {
  background-color: rgb(245, 246, 249);
}

#references,
#industries,
#our_process,
#about_us,
#services,
#contact {
  max-width: 1080px;
  overflow: hidden;
  margin: 64px auto 0;
}

.top_info {
  max-width: 810px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.top_info>p {
  color: var(--DarkerBlue);
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}

.top_info>h3 {
  margin: 0;
  color: var(--Primary);
  font-weight: 500;
  font-size: 38px;
  line-height: 1.2;
  text-align: left;
}

.top_info>h4 {
  margin: 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.6;
}

.reference_carousel {
  margin-top: 45px;
}

.reference_carousel .logos_container {
  border-bottom: 1px solid var(--Primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 45px;
}

.reference_carousel .logo {
  filter: saturate(0);
  border: none;
  border-bottom: 4px solid transparent;
  transition: all .5s ease;
  padding: 15px;
  background-color: transparent;
  cursor: pointer;
}

.reference_carousel .logo.active {
  filter: saturate(1);
  border-bottom: 4px solid var(--Blue);
}

.reference_carousel .logo:hover {
  filter: saturate(0.75);
}

.reference_carousel .logo>img {
  width: 175px;
  height: 50px;
}

.cases_container {
  position: relative;
  width: 100%;
  min-height: 500px;
  overflow: hidden;
}

.case {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  padding-bottom: 24px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;
}

.case_active {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  padding-bottom: 24px;
}

.case.active {
  opacity: 1;
  pointer-events: all;
}

.case_info {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.case_info>div {
  flex-direction: column;
}

.case_info p {
  margin: 0;
  padding-left: 16px;
  font-size: 14px;
  font-weight: 300;
  color: var(--PrimaryHover);
}

.case_info .case_title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 0.2;
  border-left: 2px solid var(--Blue);
  margin-bottom: 4px;
}

.case_info .case_row {
  display: flex;
  align-items: center;
  gap: 6px;
  padding-left: 16px;
}

.case_info .case_row p {
  padding-left: 0;
}

.case_poster_container>img {
  width: 637.5px;
  height: 425px;
  border-radius: 12px;
}

.industry_cards_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
  padding: 45px 0;
  border-top: 1px solid var(--PrimaryHover);
  border-bottom: 1px solid var(--PrimaryHover);
  margin: 45px 0;
}

.industry_cards_container>div {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border-radius: 12px;
  border-top-right-radius: 80px;
  min-width: 320px;
  min-height: 167px;
  overflow: hidden;
  transition: filter 0.25s ease;
}

.industry_cards_container>div:hover {
  filter: brightness(105%);
}

.industry_cards_container>div>h5 {
  font-size: 28px;
  font-weight: 300;
  color: white;
  margin: 0;
  line-height: 1.2;
  padding-right: 32px;
}

.industry_cards_container>div>a {
  font-size: 20px;
  font-weight: 300;
  color: white;
  margin: 0;
  cursor: pointer;
}

.industry_cards_container>div>img {
  position: absolute;
  right: -20px;
  bottom: -20px;
}

.steps {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 64px;
  padding: 4px;
}

.step_text_container {
  border-left: 1px solid var(--PrimaryHover);
}

.step_text_container>h5 {
  font-size: 24px;
  font-weight: 300;
  padding-left: 16px;
  margin: 12px 0;
  border-left: 4px solid transparent;
  transition: border-left .5s ease, color .250s ease;
  margin-left: -2px;
  cursor: pointer;
  text-decoration: underline 2px rgba(33, 51, 67, 0);
  transition: text-decoration-color .250s ease;
}

.step_text_container>h5:hover {
  color: var(--Blue);
}

.step_text_container>h5.active {
  border-left: 3px solid var(--Blue);
  color: var(--Blue);
}

.step_container {
  position: relative;
  width: 100%;
  max-width: 550px;
  min-height: 350px;
  overflow: hidden;
  margin: 45px 0;
}

.step {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  border-top-right-radius: 80px;
  padding: 25px;
  background-color: rgba(20, 94, 192, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;
}

.step.active {
  opacity: 1;
  pointer-events: all;
}

.step_row {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}

.step p {
  font-size: 18px;
  line-height: 1.7;
  margin: 0;
}

.step_row>p {
  font-size: 24px;
}

.feature_card_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 45px;
  margin: auto;
  margin-bottom: 64px;
}

.feature_card_container>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
}

.feature_card {
  border-radius: 8px;
  box-shadow: 0px 18px 36px -18px rgba(0, 0, 0, 0.1), 0px 30px 45px -30px rgba(50, 50, 93, 0.25);
  background-color: #fff;
}

.feature_card>img {
  border-radius: 4px;
  width: 100%;
}

.feature_card>div {
  padding: 32px;
}

.feature_card h5 {
  font-size: 26px;
  font-weight: 500;
  line-height: 1.3;
  margin: 0 0 12px;
}

.feature_card p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
  color: var(--PrimaryHover);
}

.offer_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin: 45px 0;
}

.offer {
  padding: 20px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.12), 0 0.125rem 0.25rem rgba(0, 0, 0, 0.14);
}

.offer p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: var(--PrimaryHover);
  margin: 0;
}

.image_offer {
  grid-row: 1 / 3;
  background-image: url('../img/secutiry_for_office.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 16px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.12), 0 0.125rem 0.25rem rgba(0, 0, 0, 0.14);
}

.image_offer>h5 {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.05em;
  margin: 0;
}

.offer_row {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
  min-height: 60px;
}

.offer h5 {
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: -0.05em;
  margin: 0;
}

.offer hr {
  margin: 16px 0;
}

.offer_items {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.offer_items>div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.offer_items>div>div {
  width: 16px;
  height: 16px;
  background-color: rgba(20, 94, 192, 0.1);
  border-radius: 50%;
}

.offer_items>div>p {
  font-size: 14px;
  color: var(--PrimaryHover);
  margin: 0;
}

.contact_option_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  margin: 45px auto;
}

#form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
  padding: 16px;
}

.form_submitted {
  display: none !important;
}

.form_thank_you {
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #005344;
  padding: 52px 40px 26px;
  border-radius: 12px;
  display: none;
}

.form_active {
  display: flex !important;
}

.form_thank_you>img {
  margin-bottom: 40px;
}

.form_thank_you>p {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  line-height: 1.3em;
  margin: 0 0 20px;
  text-align: center;
  font-weight: 300;
}

#form>div {
  width: 100%;
}

#form .form_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}

#form label {
  display: block;
  color: #1f2937;
  font-weight: 600;
  font-size: 0.875rem;
}

#form label span {
  color: var(--Blue);
}

#form .input-wrapper {
  margin-top: 0.5rem;
}

#form input,
#form textarea {
  display: block;
  width: 100%;
  min-height: 40px;
  border-radius: 0.375rem;
  padding: 0.375rem 0.5rem;
  border: 1px solid #9ca3af;
  outline: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  resize: vertical;
}

#from input:focus,
#form textarea:focus {
  color: #1f2937;
}

#form input[type='submit'] {
  background-color: var(--Primary);
  transition: background-color 250ms ease;
  color: white;
  cursor: pointer;
}

#form input[type='submit']:hover {
  background-color: var(--PrimaryHover);
}

#form>p {
  font-size: 24px;
  font-weight: 300;
  margin-top: 0;
}

.form_submit_container {
  display: flex;
  justify-content: flex-end;
}

.form_submit_container>input {
  max-width: 150px;
  font-weight: bold;
  font-size: 16px;
}

.form_error {
  color: #ff2c2c;
  margin: 0;
  font-size: 12px;
  display: none;
}

.form_field_error {
  border: 1px solid #ff2c2c !important;
}

.focus_button {
  color: var(--AlmostWhite);
  background-color: var(--Primary);
  transition: background-color .250s ease, gap .250s ease;
  padding: 8px 16px;
  font-size: .875rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 12px;
  display: inline-block;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.focus_button:hover {
  background-color: var(--PrimaryHover);
  gap: 12px;
}

/* Navigation Bar */

#nav-desktop {
  display: grid;
}

nav {
  background-color: var(--DarkGray);
  grid-template-columns: 1fr 6fr 1fr;
  padding: 10px 10%;
  filter: var(--ShadowLight);
  z-index: 9;
}

nav>ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

nav>ul>li>a {
  color: var(--AlmostWhite);
  display: inline-block;
  padding: 0.25rem 0.75rem;
  font-size: 1rem;
  text-decoration: none;
}

.logo_div {
  display: flex;
  align-self: center;
  justify-content: center;
  margin: 5px auto 0;
}

.logo_div a {
  text-decoration: none;
}

.logo_div p {
  display: inline-block;
  margin: 0;
  padding: 2px 0;
}

.for-middle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-call-to-action {
  border-radius: 4px;
  font-size: 1.4rem;
  color: var(--AlmostWhite);
  text-decoration: underline;
  text-decoration-color: transparent;
  padding: 10px 20px;
  margin-right: 20px;
  font-weight: 500;
  border: 1px solid var(--AlmostWhite);
  transition: text-decoration-color .2s ease-in-out;
}

.main-call-to-action:hover,
.secundary-call-to-action:hover {
  text-decoration-color: var(--AlmostWhite);
}

.secundary-call-to-action {
  background-color: var(--Primary);
  border-radius: 8px;
  font-size: 1.4rem;
  color: var(--AlmostWhite);
  text-decoration: underline;
  text-decoration-color: transparent;
  padding: 10px 20px;
  font-weight: 500;
  margin-left: 20px;
  transition: text-decoration-color .2s ease-in-out;
}

.push-up {
  margin-top: 30px;
}

/* Nav mobile */

#nav-mobile {
  display: none;
}

.hide {
  pointer-events: none;
}

/* Hero */

section#hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 128px;
  width: 100%;
  margin: auto;
  padding: 6vh 10%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 62vh;
}

.hero-video-surveillance {
  background-image: url('../VideoNadzor/kamere-za-kucu.webp');
}

.hero-alarm {
  background-image: url('../AlarmniSistemi/alarmi.webp');
}

.hero-gate-motors {
  background-image: url('../MotoriZaKapije/motori-za-otvaranje-kapija.webp');
}

.hero-intercom {
  background-image: url('../Interfoni/interfoni-novi-sad.webp');
}

.hero-access-control {
  background-image: url('../KontrolaPristupa/kontrola-pristupa-evidencija-radnog-vremena.webp');
}

.hero-swimmingpool {
  background-image: url('../Bazeni/dvorisni-bazeni-ugradnja.webp');
}

.hero-office {
  background-image: url('../img/office_security_dimpex.webp');
}

.hero_description_div {
  margin-right: 18%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero_description_div h1 {
  font-size: 48px;
  line-height: 1.13;
  margin: 0;
  font-weight: 500;
}

.hero_description_div h2 {
  color: var(--Primary);
  font-weight: 400;
  font-size: 1.25rem;
  margin: 1vh 0 7vh;
}

.gradient_div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gradient_div img {
  width: 100%;
  margin: 5rem 0;
}

/* Ko smo mi */

.stats {
  width: 100%;
  margin: auto;
  padding: 2% 5%;
  background-color: var(--DarkerBlue);
}

h3 {
  color: var(--AlmostWhite);
  text-align: center;
  font-size: 2.3rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.stats_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: var(--AlmostWhite);
  padding: 32px 0;
}

.stat_item {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  margin: 0 auto;
}

.icon_container_wrap {
  display: inline-block;
  width: 60px;
  margin-right: 10px;
}

.icon_container_wrap img {
  width: 100%;
}

.icon_container {
  width: 100%;
  height: 100%;
}

.icon_container-small {
  aspect-ratio: 1 / 1;
}

.icon_holder {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
}

.stat_content {
  display: inline-block;
  font-size: 2.3rem;
  margin: 0;
  margin-bottom: -50px;
  padding: 0;
  transform: scale(1, 1.15);
  font-weight: 400;
}

.stat_text {
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

/* Cards */

#cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1%;
  margin: 2% 1%;
}

.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  height: 600px;
  filter: var(--ShadowLight);
}

.card a {
  text-decoration: none;
}

.card_dark_background {
  color: var(--AlmostWhite);
}

.card_footer {
  padding: 2rem 1rem 0;
  position: relative;
  z-index: 2;
}

.card_intro {
  font-size: 0.9rem;
  line-height: 1.5;
  color: var(--Primary);
  margin-top: 0;
  margin-bottom: 0.5rem;
  text-align: center;
}

.card_intro_dark_background {
  color: var(--DarkGrayIntro);
}

.card_title {
  margin-top: 0;
  font-size: 2.3rem;
  margin-bottom: 1rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.2;
}

.card_description {
  margin-top: 0;
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 24px;
  line-height: 1.5;
  text-align: center;
}

.card_buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  display: inline-block;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  padding: 8px 16px;
  font-size: 0.9rem;
  border-radius: 4px;
  margin-right: 24px;
  transition: background-color 0.25s ease-in-out;
}

.sale_button {
  color: var(--Primary);
}

.card_dark_background .sale_button {
  color: var(--AlmostWhite);
}

.main_button {
  background-color: var(--DarkerBlue);
  color: var(--AlmostWhite);
  font-size: 1.1rem;
  font-weight: normal;
  filter: var(--ShadowLight);
}

.installation_button {
  background-color: var(--DarkerBlue);
  color: var(--AlmostWhite);
}

.installation_button:hover {
  background-color: var(--Blue);
}

#video-nadzor {
  background-image: url("../VideoNadzor/video-nadzor.jpg");
}

#alarm-sistemi {
  background-image: url("../AlarmniSistemi/alarmni-sistemi.jpg");
}

#motori-za-kapije {
  background-image: url("../MotoriZaKapije/motori-za-kapije.jpg");
}

#interfoni {
  background-image: url("../Interfoni/interfon-sistemi.jpg");
}

#kontrola-pristupa {
  background-image: url("../KontrolaPristupa/kontrola-pristupa.jpg");
}

#bazeni {
  background-image: url("../Bazeni/bazeni.webp");
}

#call-to-action {
  background-color: var(--DarkerBlue);
  padding: 4% 10%;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--AlmostWhite);
}

#call-to-action p {
  font-size: 1.4rem;
  margin-top: 0;
}

.white_button {
  font-size: 1.1rem;
  background-color: var(--AlmostWhite);
  color: var(--DarkGray);
  align-self: center;
  text-decoration: none;
}

.white_button:hover {
  background-color: rgb(245, 246, 249);
}

.call-sale-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.extra_space {
  margin-top: 20px;
}

/* Edge Button/Link */

.link-effect-14 a {
  font-size: 1.25rem;
  font-weight: 500;
  cursor: pointer;
  padding: 10px 20px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
  background-color: var(--Orange);
  border-radius: 8px;
  filter: var(--ShadowHard);
}

.link-effect-14 a span::before {
  width: 5px;
  height: 5px;
  background: transparent;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-top: 2px solid var(--Orange);
  border-left: 2px solid var(--Orange);
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.link-effect-14 a span::after {
  width: 5px;
  height: 5px;
  background: transparent;
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  border-right: 2px solid var(--Orange);
  border-bottom: 2px solid var(--Orange);
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.link-effect-14 a::before {
  width: 5px;
  height: 5px;
  background: transparent;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  border-right: 2px solid var(--Orange);
  border-top: 2px solid var(--Orange);
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.link-effect-14 a::after {
  width: 5px;
  height: 5px;
  background: transparent;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-left: 2px solid var(--Orange);
  border-bottom: 2px solid var(--Orange);
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.link-effect-14 a:hover {
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0);
}

.link-effect-14 a:hover::before {
  opacity: 1;
  right: 5px;
  top: 5px;
}

.link-effect-14 a:hover::after {
  opacity: 1;
  left: 5px;
  bottom: 5px;
}

.link-effect-14 a:hover span::before {
  opacity: 1;
  left: 5px;
  top: 5px;
}

.link-effect-14 a:hover span::after {
  opacity: 1;
  right: 5px;
  bottom: 5px;
}

.links {
  z-index: -1;
}

.links a {
  color: var(--Primary);
  text-decoration: none;
}

/* Footer */

footer {
  font-size: 1.1rem;
  color: var(--AlmostWhite);
  background-color: var(--DarkGray);
}

footer p {
  text-align: center;
  margin: 0;
  padding: 15px 0;
}

#footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  padding: 4% 1% 2%;
}

#footer-grid a {
  color: var(--AlmostWhite);
  text-decoration: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid var(--Orange);
  transition: all 250ms;
}

#footer-grid a:hover {
  color: var(--Orange);
  border-bottom: none;
}

#footer-grid h3 {
  font-size: 1.6rem;
  font-weight: 500;
  text-align: left;
}

#footer-grid ul {
  padding: 0;
  list-style-type: none;
}

#footer-grid li {
  padding: 5px 0;
}

.footer-box {
  min-height: 400px;
  padding: 0 50px;
}

.contact-informations,
.working-hours,
.documents {
  border-right: 1px solid var(--AlmostWhite);
}

.footer-box ul div {
  width: 35px;
  height: 35px;
  display: inline-block;
  margin: 4px 20px 4px 0;
}

.social-media li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.social_link {
  display: flex;
  gap: 8px;
  align-items: center;
  border-bottom: none !important;
}

/* Contact page */

#contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2% 0 0;
  margin: auto 10%;
}

#contact-info h1 {
  font-size: 2.3rem;
  font-weight: 500;
  color: var(--DarkGray);
}

.contact-details p {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--DarkGray);
  padding: 10px;
}

.contact-details a {
  text-decoration: none;
  transition: all 250ms;
  color: var(--DarkGray);
  font-weight: normal;
}

.contact-details a:hover {
  color: var(--DarkerBlue);
}

/* Video nadzor page */

.checkbox-li {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 8px 0;
}

.checkbox_container_wrap {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 10px;
}

.checkbox_list {
  padding: 0;
  margin: 20px auto 50px;
  margin-top: 0;
}

/* Product informations */

.hero-video-surveillance {
  background-image: url('../VideoNadzor/kamere-za-kucu.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 62vh;
}

.hero_product {
  width: 70%;
  margin: auto;
  display: flex;
  align-items: center;
}

.hero_product h1 {
  font-size: 4rem;
  margin-bottom: 24px;
  line-height: 1.2;
}

.hero_product p {
  font-size: 1.1rem;
  margin: 0;
}

.product_info {
  width: 70%;
  margin: 0 auto 40px;
  padding: 1rem;
}

.product_info h2 {
  font-size: 3.5rem;
  margin-bottom: 0;
  font-weight: 500;
}

.product_info_container {
  padding-top: 1rem;
}

.product_info_container p {
  font-size: 1.25rem;
  line-height: 1.5;
  color: var(--Primary);
  text-align: justify;
}

.product_info_container a {
  color: var(--DarkerBlue);
}

.product_info_cards {
  padding-top: 4rem;
  display: flex;
  flex-direction: row;
}

.product_info_card {
  background-color: white;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  border-radius: 16px;
  text-align: center;
  padding: 1.8rem;
}

.product_info_card img {
  max-width: 100%;
  max-height: 100%;
}

.type_vector {
  height: 100px;
}

.type_image {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.type_image img {
  width: 100%;
}

.product_info_card>p {
  text-align: center;
  margin: 0 auto;
  font-weight: 500;
  margin-top: 20px;
}

.product_info_col {
  width: 33.33%;
  padding-right: 2rem;
}

#col1 {
  transform: translate3d(0px, 15.5577px, 0px);
}

#col2 {
  transform: translate3d(0px, -12.4461px, 0px);
}

#col3 {
  transform: translate3d(0px, 31.1154px, 0px);
}

/* Blog section */

#blog-intro,
#youtube {
  padding: 96px 0;
  background: var(--gradient, linear-gradient(46deg, rgba(0, 122, 255, 0.40) 0%, rgba(170, 232, 244, 0.40) 100%));
}

.blog-intro-inner {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.youtube-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: auto;
}

.youtube-grid iframe {
  width: 448px;
  height: 252px;
}

#youtube p {
  font-size: 50px;
  font-weight: 600;
  letter-spacing: -1.4px;
  line-height: 60px;
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
}

.card-image-container {
  width: 48px;
}

.card-image-container img {
  width: 100%;
}

.blog-intro-inner>div {
  padding: 32px;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.blog-card {
  border-radius: 8px;
}

.contact-card {
  border-radius: 8px 8px 160px 8px;
}

.semi-big {
  font-size: 32px;
  font-weight: 400;
  letter-spacing: -1.1px;
  line-height: 40px;
}

#blog-intro a,
#youtube a {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-decoration: underline;
  color: var(--Primary);
  transition: text-decoration-color .2s ease-in-out;
  text-decoration-color: transparent;
}

#youtube a {
  width: 90%;
  margin: 40px auto 0;
  display: block;
}

#blog-intro a:hover,
#youtube a:hover {
  text-decoration-color: var(--Primary);
}

#blog-intro span,
#youtube span {
  transition: margin-left .2s ease-in-out;
}

#blog-intro a:hover span,
#youtube a:hover span {
  margin-left: 5px;
}

/* Languages */

.language-select {
  font-size: 1.4rem;
  margin: 7px auto;
  border-radius: 4px;
}

/* Extra info */

.extra-info {
  font-size: 0.9rem;
}

.htop {
  margin: -30px 0 5px;
  font-size: 1.1rem;
}

/* faq */

#faq .faq_container {
  margin: 0 auto;
  padding: 0 3rem 6rem;
  width: 60%;
}

#faq h2 {
  font-size: 50px;
  font-weight: 600;
  letter-spacing: -1.4px;
  line-height: 60px;
  margin-bottom: 20px;
}

#faq a {
  color: var(--DarkerBlue);
}

#faq .accordion .accordion-item {
  border-bottom: 1px solid #e5e5e5;
}

#faq .accordion .accordion-item button[aria-expanded=true] {
  border-bottom: 1px solid var(--DarkerBlue);
}

#faq .accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #51577B;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
  padding-right: 30px;
}

#faq .accordion button:hover,
#faq .accordion button:focus {
  cursor: pointer;
  color: var(--DarkerBlue);
}

#faq .accordion button:hover::after,
#faq .accordion button:focus::after {
  cursor: pointer;
  color: var(--DarkerBlue);
  border: 1px solid var(--DarkerBlue);
}

#faq .accordion button .accordion-title {
  font-size: 1.4rem;
  padding: 1em 1.5em 1em 0;
}

#faq .accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}

#faq .accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}

#faq .accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}

#faq .accordion button[aria-expanded=true] {
  color: var(--DarkerBlue);
}

#faq .accordion button[aria-expanded=true] .icon::after {
  width: 0;
}

#faq .accordion button[aria-expanded=true]+.accordion-content {
  opacity: 1;
  max-height: 100%;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}

#faq .accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}

#faq .accordion .accordion-content p {
  font-size: 1.1rem;
  line-height: 1.75;
  margin: 1.2em 0;
}

@media (max-width:1700px) {
  .card {
    height: 500px;
  }
}

@media (max-width: 1500px) {
  .youtube-grid iframe {
    width: 358.4px;
    height: 201.6px;
  }
}

@media (max-width:1400px) {
  nav {
    padding: 10px 4%;
  }

  section#hero {
    display: flex;
    gap: 64px;
    padding: 6vh 5%;
  }

  #hero .enterprise h1 {
    font-size: 40px;
  }

  .footer-box {
    padding: 0 30px;
  }

  .stats {
    padding: 2%;
  }

  .stat_content {
    font-size: 2rem;
  }

  .stat_text {
    font-size: 1.2rem;
  }

  .product_info {
    width: 80%;
    margin: 0 auto 40px;
    padding: 1rem;
  }

}

@media (max-width:1200px) {
  section#hero {
    padding: 5vh 4%;
    min-height: 0;
  }

  #hero .enterprise h1 {
    font-size: 36px;
  }

  #hero .enterprise h2 {
    font-size: 16px;
    line-height: 1.7;
  }

  .cta_container {
    gap: 12px;
  }

  .cta_container .main_cta,
  .cta_container .sub_cta {
    padding: 8px 14px;
  }

  #references,
  #industries,
  #our_process,
  #about_us,
  #services,
  #contact {
    padding: 0 4%;
  }

  .top_info>h3 {
    font-size: 32px;
  }

  .industry_cards_container>div {
    min-width: 280px;
    min-height: 180px;
  }

  .steps {
    gap: 32px;
    justify-content: center;
  }

  .step_text_container>h5 {
    font-size: 22px;
    padding-left: 14px;
    margin-left: -2px;
  }

  .step_container {
    position: relative;
    width: 100%;
    max-width: 450px;
    min-height: 300px;
  }

  .step {
    padding: 20px;
  }

  .step p {
    font-size: 16px;
    line-height: 1.67;
  }

  .step_row>p {
    font-size: 24px;
  }

  .footer-box {
    min-height: 400px;
    padding: 0 20px;
  }

  .hero_description_div h1 {
    font-size: 2.5rem;
  }

  .hero_description_div h2 {
    font-size: 1.2rem;
    margin: 1vh 0 6vh;
  }

  .stats_container {
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
  }

  .stat_item {
    margin: 20px auto;
  }

  h3 {
    font-size: 2rem;
  }

  .product_info {
    width: 90%;
  }

  .youtube-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }

  .youtube-grid iframe {
    width: 448px;
    height: 252px;
  }

}

/* Header */
@media (max-width:1069px) {
  .cta_container {
    flex-wrap: wrap;
  }

  #hero>div>img {
    min-width: 0;
  }

  #hero .enterprise h1 {
    min-width: 380px;
  }

  .reference_carousel .logos_container {
    border-bottom: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }

  .reference_carousel .logo {
    border-bottom: 2px solid transparent;
  }

  .reference_carousel .logo.active {
    border-bottom: 2px solid var(--Blue);
  }

  .case_poster_container>img {
    width: 478.125px;
    height: 318.75px;
  }

  .case,
  .case_active {
    gap: 24px;
  }

  .industry_cards_container {
    grid-template-columns: repeat(2, 1fr);
    gap: 45px;
  }

  .industry_cards_container>div {
    width: 320px;
    min-width: none;
    max-width: none;
  }

  .industry_cards_container>div>h5 {
    font-size: 24px;
    text-wrap: wrap;
  }

  .industry_cards_container>div>a {
    font-size: 18px;
  }

  .steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 0;
  }

  .step_text_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    border-left: none;
    margin-top: 24.5px;
  }

  .step_container {
    margin: 0;
  }

  .step_text_container>h5 {
    font-size: 20px;
    line-height: 1.2;
    padding-left: 0;
    padding-bottom: 12px;
    margin: 12px 0;
    border-bottom: 2px solid transparent;
    border-left: none;
    margin-left: 0;
    text-decoration: none;
  }

  .step_text_container>h5:hover {
    text-decoration: none;
  }

  .step_text_container>h5.active {
    border-bottom: 2px solid var(--Blue);
    border-left: none;
    text-decoration: none;
  }

  .feature_card h5 {
    font-size: 24px;
  }

  .feature_card p {
    font-size: 16px;
    line-height: 1.67;
  }

  .image_offer {
    display: none;
  }

  .offer_container {
    grid-template-columns: repeat(2, 1fr);
  }

  .gradient_div img {
    width: 100%;
    margin: 1rem 0;
  }

  #nav-desktop {
    display: none;
  }

  .hero_description_div h1 {
    font-size: 2.1rem;
  }

  .hero_description_div h2 {
    font-size: 1.2rem;
    margin: 1vh 0 6vh;
  }

  .stats_container {
    padding: 0;
  }

  h3 {
    font-size: 1.8rem;
  }

  #footer-grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 6% 4% 3%;
    text-align: center;
  }

  #footer-grid h3 {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
  }

  #footer-grid ul {
    margin-top: 0;
  }

  .footer-box {
    padding: 16px;
  }

  .tablet-extra {
    border-right: none;
  }

  .social-media li {
    display: block;
    flex-direction: row;
    align-items: center;
  }

  .link-effect-14 a {
    display: none;
  }

  .product_info {
    width: 95%;
  }

  .social-media ul {
    text-align: left;
    margin: auto;
  }

  .youtube-grid {
    gap: 25px;
  }

  .youtube-grid iframe {
    width: 336px;
    height: 189px;
  }

  #youtube p {
    font-size: 42px;
    line-height: 50px;
    margin-bottom: 20px;
  }

  #blog-intro {
    padding: 70px 0;
  }

  .blog-intro-inner {
    display: flex;
    width: 90%;
    gap: 50px;
  }

  .blog-intro-inner>div {
    min-height: 320px;
  }

  #blog-intro a {
    margin-top: auto;
  }

  .semi-big {
    font-size: 20px;
    line-height: 1.6;
  }

  .social_link {
    justify-content: center;
    margin-bottom: 8px !important;
  }

  .social_link>img {
    width: 50px;
    height: 50px;
  }

  .social_link>p {
    display: none;
  }

  /* FAQ */

  #faq .faq_container {
    margin: 0 auto;
    padding: 0 4rem 6rem;
    width: 80%;
  }

  /* Nav bar mobile */

  #nav-mobile {
    display: block;
    z-index: 9;
  }

  #nav-mobile .header {
    display: block;
    height: 50px;
    width: 100%;
    background: var(--DarkGray);
    overflow: hidden;
    transition: all 0.5s ease-out, background 1s ease-out;
    transition-delay: 0.1s;
  }

  #nav-mobile .menu-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
  }

  #nav-mobile .header .burger-container {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 50px;
    cursor: pointer;
    transform: rotate(0deg);
    transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    margin-right: 5%;
  }

  #nav-mobile .header .burger-container #burger {
    width: 18px;
    height: 8px;
    position: relative;
    display: block;
    margin: -4px auto 0;
    top: 50%;
  }

  #nav-mobile .header .burger-container #burger .bar {
    width: 100%;
    height: 1px;
    display: block;
    position: relative;
    background: var(--AlmostWhite);
    transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition-delay: 0s;
  }

  #nav-mobile .header .burger-container #burger .bar.topBar {
    transform: translateY(0px) rotate(0deg);
  }

  #nav-mobile .header .burger-container #burger .bar.btmBar {
    transform: translateY(6px) rotate(0deg);
  }

  #nav-mobile .header .icon {
    display: inline-block;
    width: 130px;
    margin-left: 5%;
  }

  #nav-mobile .header ul.menu {
    position: relative;
    display: block;
    padding: 0px 48px 0;
    list-style: none;
  }

  #nav-mobile .header ul.menu li.menu-item {
    border-bottom: 1px solid var(--DarkGrayIntro);
    margin-top: 5px;
    transform: scale(1.15) translateY(-30px);
    opacity: 0;
    transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  }

  #nav-mobile .header ul.menu li.menu-item:nth-child(1) {
    transition-delay: 0.49s;
  }

  #nav-mobile .header ul.menu li.menu-item:nth-child(2) {
    transition-delay: 0.42s;
  }

  #nav-mobile .header ul.menu li.menu-item:nth-child(3) {
    transition-delay: 0.35s;
  }

  #nav-mobile .header ul.menu li.menu-item:nth-child(4) {
    transition-delay: 0.28s;
  }

  #nav-mobile .header ul.menu li.menu-item:nth-child(5) {
    transition-delay: 0.21s;
  }

  #nav-mobile .header ul.menu li.menu-item:nth-child(6) {
    transition-delay: 0.14s;
  }

  #nav-mobile .header ul.menu li.menu-item:nth-child(7) {
    transition-delay: 0.07s;
  }

  #nav-mobile .header ul.menu li.menu-item:nth-child(8) {
    transition-delay: 0.01s;
  }

  #nav-mobile .header ul.menu li.menu-item a {
    display: block;
    position: relative;
    color: var(--AlmostWhite);
    font-weight: 500;
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 2.35;
    width: 100%;
  }

  #nav-mobile .header.menu-opened {
    height: 530px;
    background-color: var(--DarkGray);
    transition: all 0.3s ease-in, background 0.5s ease-in;
    transition-delay: 0.25s;
  }

  #nav-mobile .header.menu-opened .burger-container {
    transform: rotate(90deg);
  }

  #nav-mobile .header.menu-opened .burger-container #burger .bar {
    transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition-delay: 0.2s;
  }

  #nav-mobile .header.menu-opened .burger-container #burger .bar.topBar {
    transform: translateY(4px) rotate(45deg);
  }

  #nav-mobile .header.menu-opened .burger-container #burger .bar.btmBar {
    transform: translateY(3px) rotate(-45deg);
  }

  #nav-mobile .header.menu-opened ul.menu li.menu-item {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }

  #nav-mobile .header.menu-opened ul.menu li.menu-item:nth-child(1) {
    transition-delay: 0.27s;
  }

  #nav-mobile .header.menu-opened ul.menu li.menu-item:nth-child(2) {
    transition-delay: 0.34s;
  }

  #nav-mobile.header.menu-opened ul.menu li.menu-item:nth-child(3) {
    transition-delay: 0.41s;
  }

  #nav-mobile .header.menu-opened ul.menu li.menu-item:nth-child(4) {
    transition-delay: 0.48s;
  }

  #nav-mobile .header.menu-opened ul.menu li.menu-item:nth-child(5) {
    transition-delay: 0.55s;
  }

  #nav-mobile .header.menu-opened ul.menu li.menu-item:nth-child(6) {
    transition-delay: 0.62s;
  }

  #nav-mobile .header.menu-opened ul.menu li.menu-item:nth-child(7) {
    transition-delay: 0.69s;
  }

  #nav-mobile .header.menu-opened ul.menu li.menu-item:nth-child(8) {
    transition-delay: 0.76s;
  }

  #nav-mobile .header.menu-opened ul.menu li.menu-item:nth-child(9) {
    transition-delay: 0.83s;
  }

  #nav-mobile .header.menu-opened ul.menu li.menu-item:nth-child(10) {
    transition-delay: 0.90s;
  }

}

@media (max-width:900px) {
  .hero_description_div h1 {
    font-size: 1.8rem;
  }

  .hero_description_div h2 {
    font-size: 1rem;
    margin: 1vh 0 5vh;
  }
}

@media (max-width:768px) {
  section#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
  }

  #hero .enterprise h2 {
    font-size: 18px;
  }

  #hero>div>img {
    max-width: 400px;
  }

  .cases_container {
    position: relative;
    width: 100%;
    overflow: hidden;
    min-height: 520px;
    margin-top: 32px;
  }

  .case,
  .case_active {
    display: flex;
    flex-direction: column;
  }

  .case_info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 5%;
  }

  .case_info .case_title {
    margin-bottom: 0;
  }

  .case_system {
    display: none;
  }

  .industry_cards_container {
    gap: 32px;
  }

  .industry_cards_container>div {
    width: 280px;
  }

  .industry_cards_container>div>h5 {
    font-size: 22px;
  }

  .step_text_container {
    row-gap: 16px;
  }

  .contact_option_container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
    margin: 45px auto;
  }

  #form .form_grid {
    gap: 16px;
  }

  #form {
    padding-top: 0;
  }

  .case_info .case_title {
    font-size: 20px;
  }

  .hero_description_div {
    margin-right: 0;
  }

  .hero_description_div h1 {
    font-size: 2.2rem;
    line-height: 1.2;
  }

  .hero_description_div h2 {
    font-size: 1.25rem;
    margin: 1vh 0 3vh;
  }

  .hero_product {
    margin: 0;
  }

  .gradient_div>div {
    width: 60vw;
  }

  #cards {
    grid-template-columns: 1fr;
    grid-gap: 1%;
    margin: 4%;
  }

  .offset-on-overlap {
    margin-top: 150px !important;
  }

  #call-to-action {
    padding: 5%;
  }

  .card_title {
    font-size: 2rem;
  }

  .card_description {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  .hero_product h1 {
    font-size: 3rem;
    margin-bottom: 0;
  }

  .product_info h2 {
    font-size: 2.5rem;
  }

  .product_info_cards {
    padding-top: 0;
    flex-direction: column;
  }

  .product_info_col {
    width: 100%;
    padding-right: 0;
    margin-bottom: 2rem;
  }

  .product_info {
    width: 90%;
    margin: 0 auto 40px;
    padding: 1rem;
  }

  .product_info_container p {
    margin-bottom: 0;
  }

  #col1 {
    transform: translate3d(0px, 0px, 0px);
  }

  #col2 {
    transform: translate3d(0px, -30px, 0px);
  }

  #col3 {
    transform: translate3d(0px, -30px, 0px);
  }

  .youtube-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
  }

  .youtube-grid iframe {
    width: 336px;
    height: 189px;
  }

  #youtube p {
    font-size: 42px;
    line-height: 50px;
    margin-bottom: 40px;
  }

  #blog-intro {
    padding: 50px 0;
  }

  .blog-intro-inner {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 32px;
  }

  .blog-intro-inner>div {
    min-height: auto;
    max-width: 80%;
  }

  #blog-intro a {
    margin-top: auto;
  }

  .blog-card {
    border-radius: 8px;
  }

  .contact-card {
    border-radius: 8px;
  }

  .semi-big {
    font-size: 20px;
    line-height: 1.6;
  }

  /* FAQ */

  #faq .faq_container {
    margin: 0 auto;
    padding: 0 4rem 6rem;
    width: 90%;
  }

}

@media (max-width:650px) {
  .industry_cards_container {
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
  }

  .industry_cards_container>div {
    width: 400px;
  }

  .step_text_container {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero_description_div h1 {
    font-size: 2rem;
    line-height: 1.2;
  }

  .hero_description_div h2 {
    font-size: 1.2rem;
    margin: 1vh 0 3vh;
  }

  #faq h2 {
    font-size: 1.2rem;
  }

  .stat_content {
    font-size: 1.6rem;
  }

  .stat_text {
    font-size: 1.1rem;
  }

  .icon_container_wrap {
    width: 50px;
    margin-right: 8px;
  }

  #footer-grid {
    grid-template-columns: repeat(1, 1fr);
    padding: 6% 4% 3%;
    text-align: center;
  }

  #footer-grid li {
    font-size: 1.4rem;
  }

  #footer-grid li {
    font-size: 1.1rem;
  }

  .contact-informations,
  .working-hours,
  .documents {
    border: none;
  }

  .footer-box {
    min-height: 0;
    padding: 30px;
  }
}

@media (max-width: 600px) {
  .case_poster_container>img {
    width: 375px;
    height: 250px;
  }

  .reference_carousel .logo>img {
    width: 131.25px;
    height: 37.5px;
  }

  .feature_card_container {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .offer_container {
    grid-template-columns: 1fr;
    margin: 32px 0;
  }

  .cases_container {
    min-height: 580px;
  }

  .window {
    width: 100%;
    height: 100vh;
    margin: 0;
    border-radius: 0px;
  }

  .window .header {
    position: fixed;
  }

  /* FAQ */

  #faq .faq_container {
    margin: 0 auto;
    padding: 0 4rem 6rem;
    width: 100%;
  }
}

@media (max-width:500px) {
  section#hero {
    padding: 5vh 5%;
    min-height: 0;
  }

  #hero .enterprise h1 {
    font-size: 32px;
    min-width: 0;
  }

  #hero .enterprise h2,
  .top_info>h4 {
    font-size: 16px;
    line-height: 1.7;
  }

  #references,
  #industries,
  #our_process,
  #about_us,
  #services,
  #contact {
    margin: 32px auto 0;
  }

  .case_info {
    grid-template-columns: 1fr;
    padding: 0 4%;
  }

  .reference_carousel .logo>img {
    width: 105px;
    height: 30px;
  }

  .logos_container {
    gap: 16px;
    row-gap: 12px;
  }

  .steps {
    min-height: 720px;
  }

  .step_container {
    min-height: 360px;
  }

  .case_poster_container>img {
    width: 337.5px;
    height: 225px;
  }

  .industry_cards_container>div {
    width: 300px;
    min-height: 150px;
  }

  .stats {
    padding: 4% 10%;
  }

  .stats_container {
    display: block;
  }

  .stats h3 {
    text-align: left;
  }

  .stats_container {
    grid-template-columns: repeat(1, 1fr);
  }

  .stat_item {
    margin: 40px auto;
  }

  .card_title {
    font-size: 1.8rem;
  }

  .card_description {
    font-size: 1.1rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  #footer-grid li {
    font-size: 1rem;
  }

  .push-up {
    display: flex;
    flex-direction: column;
  }

  .main-call-to-action,
  .secundary-call-to-action {
    margin: 10px auto;
  }

  .blog-intro-inner>div {
    min-height: auto;
    max-width: 90%;
  }

}

@media (max-width: 400px) {
  .youtube-grid iframe {
    width: 252px;
    height: 141.75px;
  }

  #youtube p {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 32px;
  }
}