*{
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --DarkGray: #272729;
    --LightGray: #f7f7f7;
    --DarkGrayIntro:#adadad;
    --DarkerGrayIntro:#787878;
    --Orange:#ff6404;
    --LighterOrange:#f67729;
    --Blue:#0095f4;
    --DarkerBlue: #147dbf;
  }
  
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.7;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
}

nav{
    display: grid;
    grid-template-columns: 1fr 10fr;
    padding: 0 1%;
}

nav>ul{
    list-style:none;
    text-align: right;
}

nav>ul>li{
    display: inline-block;
    padding: 0.25rem 0.5rem;
}

.logo_div{
    display: flex;
    align-self: center;
    justify-content: center;
}

.logo_div>img{
    width: 90%;
    margin: auto;
}

section#hero{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.hero_description_div{
    padding: 100px 400px 100px 30px ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero_description_div h1{
    font-size: xx-large;
}
.hero_description_div h2{
    color: var(--DarkerGrayIntro);
    font-weight: lighter;
    font-size: medium;
}

.gradient_div{
    height: 500px;
    background: linear-gradient(180deg, rgba(1, 149, 244, 1) 0%, rgba(11, 77, 162, 1) 100%);
}

#cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin: 2% 1%;
}

.card{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    height: 500px;
}

.card_intro_dark_background{
    color: var(--DarkGrayIntro);
}

.card_dark_background{
    color: var(--LightGray);
}

.card_footer{
    padding: 32px 16px 0;
    position: relative;
    z-index: 2;
}

.card_intro{
    font-size: 12px;
    line-height: 1.5;
    color:var(--DarkerGrayIntro);
    margin-top: 0;
    margin-bottom: 8px;
    text-align: center;
}

.card_title{
    margin-top: 0;
    font-size: 32px;
    margin-bottom: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
}

.card_description{
    margin-top: 0;
    font-size: 16px;
    margin-bottom: 24px;
    line-height: 1.5;
    text-align: center;
}

.card_buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.installation_button{
    background-color: var(--Blue);
    border-color: var(--Blue);
    color: var(--DarkGray);
}

.call_button{
    background-color: var(--Orange);
    border-color: var(--Orange);
    color: var(--DarkGray);
}

.btn{
    display: inline-block;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    padding: 9px 15px;
    font-size: 0.875rem;
    border-radius: 50rem;
    margin-right: 24px;
    transition: all .15s ease-in-out;
}

.installation_button:hover{
    background-color: var(--DarkerBlue);
    border-color: var(--DarkerBlue);
}

.call_button:hover{
    background-color: var(--LighterOrange);
    border-color: var(--LighterOrange);
}

#video-nadzor{
    background-image: url('../VideoNadzor/video-nadzor.jpg');
}

#alarm-sistemi{
    background-image: url('../AlarmniSistemi/alarmni-sistemi.jpg');
}

#motori-za-kapije{
    background-image: url('../MotoriZaKapije/motori-za-kapije.jpg');
}

#interfoni{
    background-image: url('../Interfoni/interfon-sistemi.jpg');
}

#kontrola-pristupa{
    background-image: url('../KontrolaPristupa/kontrola-pristupa.jpg');
}

#bazeni{
    background-image: url('../Bazeni/bazeni.jpg');
}