* {
  box-sizing: border-box;
}

:root {
  --DarkGray: #272729;
  --AlmostWhite: #ededed;
  --DarkGrayIntro: #adadad;
  --DarkerGrayIntro: #181818;
  --Orange: #ff6404;
  --Blue: #0095f4;
  --DarkerBlue: #145ec0;
  --ShadowLight: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.2));
  --ShadowHard: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.7;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: var(--AlmostWhite);
}

/* Navigation Bar */

#nav-desktop {
  display: grid;
}

nav {
  background-color: var(--DarkGray);
  grid-template-columns: 1fr 8fr 1fr;
  padding: 10px 10%;
  filter: var(--ShadowLight);
  z-index: 9;
}

nav>ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

nav>ul>li>a {
  color: var(--AlmostWhite);
  display: inline-block;
  padding: 0.25rem 0.75rem;
  font-size: 1rem;
  text-decoration: none;
}

.logo_div {
  display: flex;
  align-self: center;
  justify-content: center;
}

.logo_div a {
  text-decoration: none;
}

.logo_div p {
  display: inline-block;
  margin: 0;
  padding: 2px 0;
}

.logo_div img {
  width: 100%;
  margin: auto;
}

.for-middle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-call-to-action {
  background-color: var(--Orange);
  border-radius: 8px;
  font-size: 1.4rem;
  color: var(--AlmostWhite);
  text-decoration: none;
  padding: 10px 20px;
  margin-right: 20px;
  font-weight: 500;
}

.secundary-call-to-action {
  background-color: var(--DarkerGrayIntro);
  border-radius: 8px;
  font-size: 1.4rem;
  color: var(--AlmostWhite);
  text-decoration: none;
  padding: 10px 20px;
  font-weight: 500;
  margin-left: 20px;
}

.push-up {
  margin-top: 30px;
}

/* Nav mobile */

#nav-mobile {
  display: none;
}

.hide {
  pointer-events: none;
}

/* Hero */

section#hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin: auto;
  padding: 6vh 10%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 62vh;
}

.hero-video-surveillance {
  background-image: url('../VideoNadzor/kamere-za-kucu.jpg');
}

.hero-alarm {
  background-image: url('../AlarmniSistemi/alarmi.jpg');
}

.hero-gate-motors {
  background-image: url('../MotoriZaKapije/motori-za-otvaranje-kapija.jpg');
}

.hero-intercom {
  background-image: url('../Interfoni/interfoni-novi-sad.jpg');
}

.hero-access-control {
  background-image: url('../KontrolaPristupa/kontrola-pristupa-evidencija-radnog-vremena.jpg');
}

.hero-swimmingpool {
  background-image: url('../Bazeni/dvorisni-bazeni-ugradnja.jpg');
}

.hero_description_div {
  margin-right: 18%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero_description_div h1 {
  font-size: 2.9rem;
  line-height: 1.2;
  margin: 0;
  font-weight: 500;
}

.hero_description_div h2 {
  color: var(--DarkerGrayIntro);
  font-weight: 400;
  font-size: 1.25rem;
  margin: 1vh 0 7vh;
}

.gradient_div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gradient_div img {
  width: 100%;
  margin: 5rem 0;
}

/* Ko smo mi */

.stats {
  width: 100%;
  margin: auto;
  padding: 2% 5%;
  background-color: var(--DarkerBlue);
}

h3 {
  color: var(--AlmostWhite);
  text-align: center;
  font-size: 2.3rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.stats_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: var(--AlmostWhite);
  padding: 40px 0;
}

.stat_item {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  margin: 0 auto;
}

.icon_container_wrap {
  display: inline-block;
  width: 60px;
  margin-right: 10px;
}

.icon_container_wrap img {
  width: 100%;
}

.icon_container {
  width: 100%;
  height: 100%;
}

.icon_holder {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
}

.stat_content {
  display: inline-block;
  font-size: 2.3rem;
  margin: 0;
  margin-bottom: -50px;
  padding: 0;
  transform: scale(1, 1.15);
  font-weight: 400;
}

.stat_text {
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

/* Cards */

#cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1%;
  margin: 2% 1%;
}

.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  height: 600px;
  filter: var(--ShadowLight);
}

.card a {
  text-decoration: none;
}

.card_dark_background {
  color: var(--AlmostWhite);
}

.card_footer {
  padding: 2rem 1rem 0;
  position: relative;
  z-index: 2;
}

.card_intro {
  font-size: 0.9rem;
  line-height: 1.5;
  color: var(--DarkerGrayIntro);
  margin-top: 0;
  margin-bottom: 0.5rem;
  text-align: center;
}

.card_intro_dark_background {
  color: var(--DarkGrayIntro);
}

.card_title {
  margin-top: 0;
  font-size: 2.3rem;
  margin-bottom: 1rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.2;
}

.card_description {
  margin-top: 0;
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 24px;
  line-height: 1.5;
  text-align: center;
}

.card_buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  display: inline-block;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  padding: 9px 18px;
  font-size: 0.9rem;
  border-radius: 6px;
  margin-right: 24px;
  transition: background-color 0.25s ease-in-out;
}

.sale_button {
  color: var(--DarkerGrayIntro);
}

.card_dark_background .sale_button {
  color: var(--AlmostWhite);
}

.main_button {
  background-color: var(--DarkerBlue);
  color: var(--AlmostWhite);
  font-size: 1.1rem;
  font-weight: normal;
  filter: var(--ShadowLight);
}

.installation_button {
  background-color: var(--DarkerBlue);
  color: var(--AlmostWhite);
}

.installation_button:hover {
  background-color: var(--Blue);
}

#video-nadzor {
  background-image: url("../VideoNadzor/video-nadzor.jpg");
}

#alarm-sistemi {
  background-image: url("../AlarmniSistemi/alarmni-sistemi.jpg");
}

#motori-za-kapije {
  background-image: url("../MotoriZaKapije/motori-za-kapije.jpg");
}

#interfoni {
  background-image: url("../Interfoni/interfon-sistemi.jpg");
}

#kontrola-pristupa {
  background-image: url("../KontrolaPristupa/kontrola-pristupa.jpg");
}

#bazeni {
  background-image: url("../Bazeni/bazeni.jpg");
}

#call-to-action {
  background-color: var(--DarkerBlue);
  padding: 2% 10%;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--AlmostWhite);
}

.white_button {
  font-size: 1.25rem;
  padding: 20px 30px;
  background-color: var(--AlmostWhite);
  color: var(--DarkGray);
  align-self: center;
}

.orange_button {
  font-size: 1.25rem;
  margin-left: 20px;
  padding: 20px 30px;
  background-color: var(--Orange);
  color: var(--AlmostWhite);
  text-decoration: none;
  align-self: center;
}

.call-sale-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.extra-space {
  margin-top: 20px;
}

/* Edge Button/Link */

.link-effect-14 a {
  font-size: 1.25rem;
  font-weight: 500;
  cursor: pointer;
  padding: 10px 20px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
  background-color: var(--Orange);
  border-radius: 8px;
  filter: var(--ShadowHard);
}

.link-effect-14 a span::before {
  width: 5px;
  height: 5px;
  background: transparent;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-top: 2px solid var(--Orange);
  border-left: 2px solid var(--Orange);
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.link-effect-14 a span::after {
  width: 5px;
  height: 5px;
  background: transparent;
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  border-right: 2px solid var(--Orange);
  border-bottom: 2px solid var(--Orange);
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.link-effect-14 a::before {
  width: 5px;
  height: 5px;
  background: transparent;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  border-right: 2px solid var(--Orange);
  border-top: 2px solid var(--Orange);
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.link-effect-14 a::after {
  width: 5px;
  height: 5px;
  background: transparent;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-left: 2px solid var(--Orange);
  border-bottom: 2px solid var(--Orange);
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.link-effect-14 a:hover {
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0);
}

.link-effect-14 a:hover::before {
  opacity: 1;
  right: 5px;
  top: 5px;
}

.link-effect-14 a:hover::after {
  opacity: 1;
  left: 5px;
  bottom: 5px;
}

.link-effect-14 a:hover span::before {
  opacity: 1;
  left: 5px;
  top: 5px;
}

.link-effect-14 a:hover span::after {
  opacity: 1;
  right: 5px;
  bottom: 5px;
}

.links {
  z-index: -1;
}

.links a {
  color: var(--DarkerGrayIntro);
  text-decoration: none;
}

/* Footer */

footer {
  font-size: 1.1rem;
  color: var(--AlmostWhite);
  background-color: var(--DarkGray);
}

footer p {
  text-align: center;
  margin: 0;
  padding: 15px 0;
}

#footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  padding: 4% 1% 2%;
}

#footer-grid a {
  color: var(--AlmostWhite);
  text-decoration: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid var(--Orange);
  transition: all 250ms;
}

#footer-grid a:hover {
  color: var(--Orange);
  border-bottom: none;
}

#footer-grid h3 {
  font-size: 1.6rem;
  font-weight: 500;
  text-align: left;
}

#footer-grid ul {
  padding: 0;
  list-style-type: none;
}

#footer-grid li {
  padding: 5px 0;
}

.footer-box {
  min-height: 400px;
  padding: 0 50px;
}

.contact-informations,
.working-hours,
.documents {
  border-right: 1px solid var(--AlmostWhite);
}

.footer-box ul div {
  width: 35px;
  height: 35px;
  display: inline-block;
  margin: 4px 20px 4px 0;
}

.social-media li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-box img {
  width: 100%;
}

/* Contact page */

#contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2% 0;
  margin: auto 10%;
}

#contact-info h1 {
  font-size: 2.3rem;
  font-weight: 500;
  color: var(--DarkGray);
}

.contact-details p {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--DarkGray);
  padding: 10px;
}

.contact-details a {
  text-decoration: none;
  transition: all 250ms;
  color: var(--DarkGray);
  font-weight: normal;
}

.contact-details a:hover {
  color: var(--DarkerBlue);
}

/* Video nadzor page */

.checkbox-li {
  list-style: none;
  display: flex;
  align-items: center;
}

.checkbox_container_wrap {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 10px;
}

.checkbox_list {
  padding: 0;
  margin: 20px auto 50px;
  margin-top: 0;
}

/* Product informations */

.hero-video-surveillance {
  background-image: url('../VideoNadzor/kamere-za-kucu.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 62vh;
}

.hero_product {
  width: 70%;
  margin: auto;
  display: flex;
  align-items: center;
}

.hero_product h1 {
  font-size: 4rem;
  margin-bottom: 0;
}

.hero_product p {
  font-size: 1.1rem;
  margin-bottom: 0;
}

.product_info {
  width: 70%;
  margin: 0 auto 40px;
  padding: 1rem;
}

.product_info h2 {
  font-size: 3.5rem;
  margin-bottom: 0;
  font-weight: 500;
}

.product_info_container {
  padding-top: 1rem;
}

.product_info_container p {
  font-size: 1.25rem;
  line-height: 1.5;
  color: var(--DarkerGrayIntro);
  text-align: justify;
}

.product_info_container a {
  color: var(--DarkerBlue);
}

.product_info_cards {
  padding-top: 4rem;
  display: flex;
  flex-direction: row;
}

.product_info_card {
  background-color: white;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  border-radius: 16px;
  text-align: center;
  padding: 1.8rem;
}

.product_info_card img {
  max-width: 100%;
  max-height: 100%;
}

.type_vector {
  height: 100px;
}

.type_image {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.type_image img {
  width: 100%;
}

.product_info_card>p {
  text-align: center;
  margin: 0 auto;
  font-weight: 500;
  margin-top: 20px;
}

.product_info_col {
  width: 33.33%;
  padding-right: 2rem;
}

#col1 {
  transform: translate3d(0px, 15.5577px, 0px);
}

#col2 {
  transform: translate3d(0px, -12.4461px, 0px);
}

#col3 {
  transform: translate3d(0px, 31.1154px, 0px);
}

/* Extra info */

.extra-info {
  font-size: 0.9rem;
}

@media (max-width:1700px) {
  .card {
    height: 500px;
  }
}

@media (max-width:1400px) {
  nav {
    grid-template-columns: 1fr 8fr 1fr;
    padding: 10px 2%;
  }

  .footer-box {
    padding: 0 30px;
  }

  .stats {
    padding: 2%;
  }

  .stat_content {
    font-size: 2rem;
  }

  .stat_text {
    font-size: 1.2rem;
  }

  .product_info {
    width: 80%;
    margin: 0 auto 40px;
    padding: 1rem;
  }


}

@media (max-width:1200px) {
  nav {
    grid-template-columns: 1fr 8fr 1fr;
    padding: 10px 1%;
  }

  nav>ul>li>a {
    padding: 0.25rem 0.5rem;
  }

  .footer-box {
    min-height: 400px;
    padding: 0 20px;
  }

  .hero_description_div h1 {
    font-size: 2.5rem;
  }

  .hero_description_div h2 {
    font-size: 1.2rem;
    margin: 1vh 0 6vh;
  }

  .stats_container {
    grid-template-columns: repeat(2, 1fr);
  }

  .stat_item {
    margin: 20px auto;
  }

  h3 {
    font-size: 2rem;
  }

  .product_info {
    width: 90%;
  }

}

/* Header */
@media (max-width:1069px) {

  section#hero {
    padding: 1vh 10%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 50vh;
  }

  .gradient_div img {
    width: 100%;
    margin: 1rem 0;
  }

  #nav-desktop {
    display: none;
  }

  .hero_description_div h1 {
    font-size: 2.1rem;
  }

  .hero_description_div h2 {
    font-size: 1.2rem;
    margin: 1vh 0 6vh;
  }

  .stats_container {
    padding: 0;
  }

  h3 {
    font-size: 1.8rem;
  }

  #footer-grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 6% 4% 3%;
    text-align: center;
  }

  #footer-grid h3 {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
  }

  .footer-box {
    padding: 50px;
  }

  .tablet-extra {
    border-right: none;
  }

  .social-media li {
    display: block;
    flex-direction: row;
    align-items: center;
  }

  .link-effect-14 a {
    display: none;
  }

  .product_info {
    width: 95%;
  }

  .social-media ul {
    text-align: left;
    margin: auto;
  }

  /* Nav bar mobile */

  #nav-mobile {
    display: block;
    z-index: 9;
  }

  #nav-mobile .header {
    display: block;
    height: 50px;
    width: 100%;
    background: var(--DarkGray);
    overflow: hidden;
    transition: all 0.5s ease-out, background 1s ease-out;
    transition-delay: 0.1s;
  }

  #nav-mobile .menu-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
  }

  #nav-mobile .header .burger-container {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 50px;
    cursor: pointer;
    transform: rotate(0deg);
    transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    margin-right: 5%;
  }

  #nav-mobile .header .burger-container #burger {
    width: 18px;
    height: 8px;
    position: relative;
    display: block;
    margin: -4px auto 0;
    top: 50%;
  }

  #nav-mobile .header .burger-container #burger .bar {
    width: 100%;
    height: 1px;
    display: block;
    position: relative;
    background: var(--AlmostWhite);
    transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition-delay: 0s;
  }

  #nav-mobile .header .burger-container #burger .bar.topBar {
    transform: translateY(0px) rotate(0deg);
  }

  #nav-mobile .header .burger-container #burger .bar.btmBar {
    transform: translateY(6px) rotate(0deg);
  }

  #nav-mobile .header .icon {
    display: inline-block;
    width: 130px;
    margin-left: 5%;
  }

  #nav-mobile .header .icon img {
    width: 100%;
  }

  #nav-mobile .header ul.menu {
    position: relative;
    display: block;
    padding: 0px 48px 0;
    list-style: none;
  }

  #nav-mobile .header ul.menu li.menu-item {
    border-bottom: 1px solid var(--DarkGrayIntro);
    margin-top: 5px;
    transform: scale(1.15) translateY(-30px);
    opacity: 0;
    transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  }

  #nav-mobile .header ul.menu li.menu-item:nth-child(1) {
    transition-delay: 0.49s;
  }

  #nav-mobile .header ul.menu li.menu-item:nth-child(2) {
    transition-delay: 0.42s;
  }

  #nav-mobile .header ul.menu li.menu-item:nth-child(3) {
    transition-delay: 0.35s;
  }

  #nav-mobile .header ul.menu li.menu-item:nth-child(4) {
    transition-delay: 0.28s;
  }

  #nav-mobile .header ul.menu li.menu-item:nth-child(5) {
    transition-delay: 0.21s;
  }

  #nav-mobile .header ul.menu li.menu-item:nth-child(6) {
    transition-delay: 0.14s;
  }

  #nav-mobile .header ul.menu li.menu-item:nth-child(7) {
    transition-delay: 0.07s;
  }

  #nav-mobile .header ul.menu li.menu-item:nth-child(8) {
    transition-delay: 0.01s;
  }

  #nav-mobile .header ul.menu li.menu-item a {
    display: block;
    position: relative;
    color: var(--AlmostWhite);
    font-weight: 500;
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 2.35;
    width: 100%;
  }

  #nav-mobile .header.menu-opened {
    height: 490px;
    background-color: var(--DarkGray);
    transition: all 0.3s ease-in, background 0.5s ease-in;
    transition-delay: 0.25s;
  }

  #nav-mobile .header.menu-opened .burger-container {
    transform: rotate(90deg);
  }

  #nav-mobile .header.menu-opened .burger-container #burger .bar {
    transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition-delay: 0.2s;
  }

  #nav-mobile .header.menu-opened .burger-container #burger .bar.topBar {
    transform: translateY(4px) rotate(45deg);
  }

  #nav-mobile .header.menu-opened .burger-container #burger .bar.btmBar {
    transform: translateY(3px) rotate(-45deg);
  }

  #nav-mobile .header.menu-opened ul.menu li.menu-item {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }

  #nav-mobile .header.menu-opened ul.menu li.menu-item:nth-child(1) {
    transition-delay: 0.27s;
  }

  #nav-mobile .header.menu-opened ul.menu li.menu-item:nth-child(2) {
    transition-delay: 0.34s;
  }

  #nav-mobile.header.menu-opened ul.menu li.menu-item:nth-child(3) {
    transition-delay: 0.41s;
  }

  #nav-mobile .header.menu-opened ul.menu li.menu-item:nth-child(4) {
    transition-delay: 0.48s;
  }

  #nav-mobile .header.menu-opened ul.menu li.menu-item:nth-child(5) {
    transition-delay: 0.55s;
  }

  #nav-mobile .header.menu-opened ul.menu li.menu-item:nth-child(6) {
    transition-delay: 0.62s;
  }

  #nav-mobile .header.menu-opened ul.menu li.menu-item:nth-child(7) {
    transition-delay: 0.69s;
  }

  #nav-mobile .header.menu-opened ul.menu li.menu-item:nth-child(8) {
    transition-delay: 0.76s;
  }

}

@media (max-width:900px) {

  .hero_description_div h1 {
    font-size: 1.8rem;
  }

  .hero_description_div h2 {
    font-size: 1rem;
    margin: 1vh 0 5vh;
  }
}

@media (max-width:768px) {

  section#hero {
    grid-template-columns: 1fr;
    padding: 4vh 10% 0;
    min-height: 0;
  }

  .hero_description_div {
    text-align: center;
    margin-right: 0;
  }

  .hero_description_div h1 {
    font-size: 2.2rem;
    line-height: 1.2;
  }

  .hero_description_div h2 {
    font-size: 1.25rem;
    margin: 1vh 0 3vh;
  }

  .hero_product {
    margin: 0;
  }

  .gradient_div>div {
    width: 60vw;
  }

  #cards {
    grid-template-columns: 1fr;
    grid-gap: 1%;
    margin: 4%;
  }

  .offset-on-overlap {
    margin-top: 150px !important;
  }

  #call-to-action {
    padding: 5%;
  }

  .card_title {
    font-size: 2rem;
  }

  .card_description {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  .hero_product h1 {
    font-size: 3rem;
    margin-bottom: 0;
  }

  .product_info h2 {
    font-size: 2.5rem;
  }

  .product_info_cards {
    padding-top: 0;
    flex-direction: column;
  }

  .product_info_col {
    width: 100%;
    padding-right: 0;
    margin-bottom: 2rem;
  }

  .product_info {
    width: 90%;
    margin: 0 auto 40px;
    padding: 1rem;
  }

  .product_info_container p {
    margin-bottom: 0;
  }

  #col1 {
    transform: translate3d(0px, 0px, 0px);
  }

  #col2 {
    transform: translate3d(0px, -30px, 0px);
  }

  #col3 {
    transform: translate3d(0px, -30px, 0px);
  }

}

@media (max-width:650px) {
  .hero_description_div h1 {
    font-size: 2rem;
    line-height: 1.2;
  }

  .hero_description_div h2 {
    font-size: 1.2rem;
    margin: 1vh 0 3vh;
  }

  .stat_content {
    font-size: 1.6rem;
  }

  .stat_text {
    font-size: 1.1rem;
  }

  .icon_container_wrap {
    width: 50px;
    margin-right: 8px;
  }

  #footer-grid {
    grid-template-columns: repeat(1, 1fr);
    padding: 6% 4% 3%;
    text-align: center;
  }

  #footer-grid li {
    font-size: 1.4rem;
  }

  #footer-grid li {
    font-size: 1.1rem;
  }

  .contact-informations,
  .working-hours,
  .documents {
    border: none;
  }

  .footer-box {
    min-height: 0;
    padding: 30px;
  }
}

@media (max-width: 600px) {
  .window {
    width: 100%;
    height: 100vh;
    margin: 0;
    border-radius: 0px;
  }

  .window .header {
    position: fixed;
  }
}

@media (max-width:500px) {
  .stats {
    padding: 4% 10%;
  }

  .stats_container {
    display: block;
  }

  .stats h3 {
    text-align: left;
  }

  .stats_container {
    grid-template-columns: repeat(1, 1fr);
  }

  .stat_item {
    margin: 40px auto;
  }

  .card_title {
    font-size: 1.8rem;
  }

  .card_description {
    font-size: 1.1rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  #footer-grid li {
    font-size: 1rem;
  }

  .push-up {
    display: flex;
    flex-direction: column;
  }

  .main-call-to-action,
  .secundary-call-to-action {
    margin: 10px auto;
  }

}